@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="align-self-center">
            <div class="col-sm">
                <h1>Find solutions to any math task.</h1>
                <p class="font-weight-light">You are not alone! Just post your task and other will help you to solve it!</p>
            </div>
        </div>
        <div class="col-xl">
            <img src="~/Media/mainpagepic1.svg" class="img-fluid" alt="Flat design picture"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm">
            <img src="~/Media/mainpagepic2.svg" class="img-fluid" alt="Flat design picture"/>
        </div>
        <div class="align-self-center">
            <div class="col-10">
                <img src="~/Media/logo_full.svg" alt="logo" class="img-fluid" height="10"></img>
                <h1> is a perfect way to help each other!</h1>
                <p class="font-weight-light">It doesn`t matter who you are, teacher, student or just math fan, with solumath you can help!</p>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="align-items-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="font-weight-light">Welcome back, @User.Identity.Name, lets explore <a class="font-weight-light" asp-area="" asp-controller="Home" asp-action="Privacy">tasks</a> page!</p>
            }
            else
            {
                <p class="font-weight-light">
                    Not a member yet?
                    <a class="font-weight-light" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="font-weight-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </p>
            }

        </div>
    </div>
</div>