@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center align-middle">
    <h3 class="font-weight-light">Whoopsie.....</h3>
    <h6 class="font-weight-light">Your awnswer was incorrect :(</h6>
    <img src="~/Media/mainpagepic1.svg" style="max-width: 50%; height: auto;" class="img-fluid" alt="Flat design picture"/>
</div>
<a asp-controller="Puzzle" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Return to puzzles</a>
