@model Itransition_course_project.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new puzzle</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control rounded-pill" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <select class="form-control custom-select rounded-pill" id="inputGroupSelect01" asp-for="TopicId" asp-items="ViewBag.TopicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile1" class="control-label"></label>
                <input asp-for="ImageFile1" class="form-control">
                <span asp-validation-for="ImageFile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile2" class="control-label"></label>
                <input asp-for="ImageFile2" class="form-control">
                <span asp-validation-for="ImageFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile3" class="control-label"></label>
                <input asp-for="ImageFile3" class="form-control"/>
                <span asp-validation-for="ImageFile3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostText" class="control-label"></label>
                <textarea asp-for="PostText" class="form-control" rows="4"></textarea>
                <span asp-validation-for="PostText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer1" class="control-label"></label>
                <input asp-for="Answer1" class="form-control rounded-pill" />
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer2" class="control-label"></label>
                <input asp-for="Answer2" class="form-control rounded-pill" />
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer3" class="control-label"></label>
                <input asp-for="Answer3" class="form-control rounded-pill" />
                <span asp-validation-for="Answer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="font-weight-light" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Return to puzzles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
