@model Itransition_course_project.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center align-middle">
    <h3 class="font-weight-light">Whooopsie....</h3>
    <h6 class="font-weight-light">Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h6>
    <img src="~/Media/delete.svg" style="max-width: 50%; height: auto;" class="img-fluid" alt="Flat design picture"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-link" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Return to puzzles</button>
        <button type="submit" value="Delete" class="btn btn-link"><i class="bi bi-eraser"></i> Delete</button>
    </form>
</div>
